1.21.1/**
config/**
datapacks/**
defaultconfigs/**
downloads/**
kiwipacks/**
kubejs/**
local/**
logs/**
mods/**
resourcepacks/**
saves/**
schematics/**
server-resource-packs/**
shaderpacks/**
/.curseclient
/command_history.txt
/minecraftinstance.json
/options.txt
/usercache.json
/usernamecache.json
