1.21.1/**
config/**
crash-reports/**
datapacks/**
defaultconfigs/**
downloads/**
local/**
logs/**
mods/**
resourcepacks/**
saves/**
schematics/**
server-resource-packs/**
shaderpacks/**
.vscode/**
/.curseclient
/command_history.txt
/minecraftinstance.json
/options.txt
/usercache.json
/usernamecache.json
/emi.json
.probe
/kubejs/README.txt
/kubejs/client_scripts/jsconfig.json
/kubejs/server_scripts/jsconfig.json
/kubejs/startup_scripts/jsconfig.json
/kubejs/config/**